= render 'shared/sidebar'
= render 'shared/navbar'
#wrapper
  .panel.panel-default
  / Default panel contents
  /.panel-heading Hosts
  
  .btn-group{"aria-label" => "...", :role => "group"}
    %button#hostlist.btn.btn-info{:type => "button", :href => "#hosttablediv", :onclick => "gethosts();" } 
      %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
      Hosts
    %button#statistics.btn.btn-danger{:type => "button", :href => "#statisticsdiv", :onclick => "getstatistics();" } Statistics
    
    %button#addhost.btn.btn-warning.dropdown-toggle{ :type => "button", :href => "#addhostdiv", :onclick => "addhost();"}ADD Host
    
    %button#edithost.btn.btn-success.dropdown-toggle{ :type => "button", :href => "#edithostdiv", :onclick => "edithost();"}Edit Host
  / Table
  #hosttablediv
    %table#hosttable.table.table-bordered.table-hover
      %tr
        %th #
        %th Name
        %th Storage
        %th Ram
        %th CPU
        %th OS
      %tbody
        - @hosts.each_with_index do |host,index|
          %tr
            %td
              %input{:name => "host_radio", :type => "radio" ,:value => host['id'].to_s, :id => "host_radio"}
            %td= host['hostname'] 
            %td= host['storage']
            %td= host['ram']
            %td= host['cpu'].to_i
            %td= host['host_os']
  #edithostdiv{:style => "display:none"}
    hi
  #statisticsdiv{:style => "display:none"}

  #addhostdiv{:style => "display:none"}
    %br  
    %form.form-inline{:action => "/dashboard/createhost", :name => "createhost", :method => "post"}
      .col-xs-4
        .form-group
          .container
            .row
              %label.col-md-2{:for => "Hostname"} HostName:
              %input.col-md-10#Hostname.form-control{:placeholder => "Enter HostName", :type => "text", :name => "hostname"}
            .row
              %label.col-md-2{:for => "ip"} IP:  
              %input.col-md-10#ip.form-control{ :type => "text", :name =>"ip"}
            .row
              %label.col-md-2{:for => "username"} Username:
              %input.col-md-10#username.form-control{ :type => "text", :name => "username"}
            .row
              %label.col-md-2{:for => "password"} Password:
              %input.col-md-10#password.form-control{ :type => "password", :name => "password"}
            .row
              %label.col-md-2{:for => "cpu"} CPU:
              %input.col-md-10#cpu.form-control{:placeholder => "#Cores ", :type => "text" , :name => "cpu"}
            .row
              %label.col-md-2{:for => "ram"} RAM:
              %input.col-md-10#ram.form-control{:placeholder => "RAM in MB ", :type => "text" , :name =>"ram"} 
            .row
              %label.col-md-2{:for => "os"} OS:
              %p.col-md-10.form-control-static Ubuntu
              /%input.col-md-7#os.form-control.static{ :type => "text"}
            
            .row
              .btn-group{"data-toggle" => "buttons"}
                %label.btn.btn-default
                  %input#option1{:checked => "", :name => "isactive", :type => "radio" , :value =>"1" } Active
                %label.btn.btn-default.active
                  %input#option2{:name => "isactive", :type => "radio" , :value =>"0" } Disable
            %br
            %br
        %button.btn.btn-primary{:type => "submit"} Submit
    }

