= render 'shared/sidebar'
= render 'shared/navbar'
#wrapper
  .panel.panel-default
  / Default panel contents
  /.panel-heading Hosts
  
  .btn-group{"aria-label" => "...", :role => "group"}
    %button#hostlist.btn.btn-info{:type => "button", :href => "#hosttablediv", :onclick => "gethosts();" } 
      %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
      Hosts
    %button#statistics.btn.btn-danger{:type => "button", :href => "#statisticsdiv", :onclick => "getstatistics();" } Statistics
    
    - if session[:role] == "ADMIN"
      %button#addhost.btn.btn-warning.dropdown-toggle{ :type => "button", :href => "#addhostdiv", :onclick => "addhost();"}ADD Host
    
      %button#edithost.btn.btn-success.dropdown-toggle{ :type => "button", :href => "#edithostdiv", :onclick => "edithost();"}Edit Host
  / Table
  #hosttablediv
    %table#hosttable.table.table-bordered.table-hover
      %tr
        %th #
        %th Name
        %th Storage
        %th Ram
        %th CPU
        %th OS
        %th IP Address
        - if session[:role] == "ADMIN"
          %th Username
          %th Password
      %tbody
        - @hosts.each do |host|
          - hoststate =  gethoststate
          %tr{ :class => hoststate[host['active']]}
            %td
              %input{:name => "host_radio", :type => "radio" ,:value => host['id'].to_s, :id => "host_radio", :checked => "true"}
            %td= host['hostname'] 
            %td= host['storage']
            %td= host['ram']
            %td= host['cpu'].to_i
            %td= host['host_os']
            %td= host['ip']
            - if session[:role] == "ADMIN"
              %td= host['username']
              %td= host['password']

  #edithostdiv{:style => "display:none"}
    = render 'dashboard/edithost'
  #statisticsdiv{:style => "display:none"}
    #throughput_chart
    #y_axis
    #x_axis

  #addhostdiv{:style => "display:none"}
    = render 'dashboard/addhost'