!!!
%html
  %head
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    - flash.each do |name,message|
      %div{:class =>name }  #{message}
    %title CVM Cloud
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{:src => "/app/assets/javascripts/canvasjs.min.js", :type => "text/javascript"}
    
    = csrf_meta_tags
  %body
    
    = yield
